<div class="container">
<h3>TẠO MÀU MỚI</h3>
<form method="POST" action="/mau/create">
  <div class="form-group">
    <label for="TenMau">Tên màu</label>
    <input type="text" class="form-control" id="TenMau" name="TenMau">
  </div>
  <button type="submit" class="btn btn-primary">Tạo</button>
</form>
</div>