<div class="container">
<h3>TẠO TÊN SẢN PHẨM MỚI</h3>
<form method="POST" action="/sanpham/create">
  <div class="form-group">
    <label for="TenSanPham">Tên sản phẩm</label>
    <input type="text" class="form-control" id="TenMau" name="TenSanPham">
  </div>
  <button type="submit" class="btn btn-primary">Tạo</button>
</form>
</div>