<div class="container">
<h3>TẠO SIZE MỚI</h3>
<form method="POST" action="/size/create">
  <div class="form-group">
    <label for="TenSize">Tên size</label>
    <input type="text" class="form-control" id="TenSize" name="TenSize">
  </div>
  <button type="submit" class="btn btn-primary">Tạo</button>
</form>
</div>