<div class="container">
<h3>TẠO ĐỐI TƯỢNG MỚI</h3>
<form method="POST" action="/doituong/create">
  <div class="form-group">
    <label for="TenDoiTuong">Đối tượng</label>
    <input type="text" class="form-control" id="TenMau" name="TenDoiTuong">
  </div>
  <button type="submit" class="btn btn-primary">Tạo</button>
</form>
</div>